<div class="wrapper">
  <div class="cart-empty-container" *ngIf="total == 0">
    <label>Oops, Your cart is empty!</label>
    <button class="btn btn-back" routerLink="/">Back to shopping</button>
  </div>
  <div *ngIf="total !== 0" class="cart-container">
    <div class="header">
      <h3>Shopping cart</h3>
      <h5 (click)="removeAll()" class="remove"><u>Empty Cart</u></h5>
    </div>
    <div *ngIf="total !== 0" class="list-cart-item">
      <div *ngFor="let product of listProduct" class="cart-item">
        <div routerLink="/products/{{ product.name }}" class="image-container">
          <img src="{{ product.url }}" />
        </div>

        <span class="product-name">{{ product.name }}</span>

        <div class="item-quantity">
          <input
            class="number-input"
            [(ngModel)]="product.quantity"
            type="number"
            name="Amount"
            value="{{ product.quantity }}"
            (ngModelChange)="cartItemUpdate(product)"
          />
        </div>
        <div class="prices product-price">
          <h4 class="flexend">${{ product.price }}</h4>
          <label class="flexend remove" (click)="removeProduct(product)">
            <u> Remove</u>
          </label>
        </div>
      </div>
    </div>
    <div class="footer">
      <h3 class="subtotal">Sub-total: ${{ total }}</h3>
      <button class="btn btn-add" (click)="onCheckout()">Checkout</button>
    </div>
  </div>
</div>
