<div class="navigation">
  <header>
    <nav>
      <ul>
        <li>
          <a routerLink="/products" routerLinkActive="active-link">Store</a>
        </li>

        <li>
          <div class="cart-container">
            <a routerLink="/cart" routerLinkActive="active-link"
              ><img
                class="cart-icon"
                src="assets/img/cartIcon.svg"
                alt="not found"
            /></a>
            <span routerLink="/cart" class="{{ badgeClass }}">{{ total }}</span>
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>
