header {
  text-align: center;
  margin: 30px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
label {
  color: rgb(132, 120, 120);
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.required {
  color: red;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.errorMessage {
  color: rgb(238, 90, 90);
  font-size: 13px;
}
.total {
  margin: 20px 20px;
  font-size: 20px;
  font-family: serif;
  border-bottom: 1px black solid;
  align-self: center;
}
.form {
  display: flex;
  flex-flow: nowrap column;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  justify-content: flex-start;
}
.form-margin {
  padding: 10px 10px;
}

.form input {
  padding: 4px;
  text-align: left;
  border: none;
  border-bottom: #666666 1px solid;
}

input:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.placeholder {
  color: darkgray;
  font-size: 13px;
}

.button {
  width: auto;
}

@media (min-width: 600px) {
  .form {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 25px 40px #1687d933;
  }
}
