<div class="detail-container">
  <div class="detail-item">
    <img src="{{ product.url }}" />
  </div>
  <div class="detail-item">
    <h3>{{ product.name }}</h3>
    <br />
    <label> ${{ product.price }}</label>
    <br />
    <label> {{ product.description }}</label>
    <br />
    <select class="select-input" [(ngModel)]="selectedQuantity">
      <option *ngFor="let option of options" [ngValue]="option">
        {{ option }}
      </option>
    </select>
    <br />
    <button
      class="btn btn-primary"
      (click)="addToCart(selectedQuantity, product)"
    >
      Add to cart
    </button>
    <br />
    <a routerLink="/"> Back to product list</a>
  </div>
</div>
