version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, yarn, etc.)
  node: circleci/node@5.0.0
  aws-cli: circleci/aws-cli@2.0.6
  eb: circleci/aws-elastic-beanstalk@1.0.0
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
      # the base image can run most needed actions with orbs
      - image: "cimg/base:stable"
    steps:
      - node/install:
          install-yarn: true
          node-version: "16.13"
      - aws-cli/setup
      - eb/setup
      - checkout
      # install dependencies in both apps
      - run:
          name: install frontend dependencies
          command: |
            npm run frontend:install
      - run:
          name: install backend dependencies
          command: |
            npm run backend:install
      #build both application
      - run:
          name: build frontend
          command: |
            npm run frontend:build
      - run:
          name: build backend
          command: |
            npm run backend:build
      #deploy backend
      - run:
          name: deploy backend
          command: |
            eb create MyApp-prod-env
            eb use MyApp-prod-env
            npm run backend:deploy
