<div class="product-container">
  <div routerLink="{{ product.name }}" class="image-container">
    <img src="{{ product.url }}" />
  </div>
  <label class="product-name">{{ product.name }}</label>
  <br />
  <label class="product-price">${{ product.price }}</label>
  <br />
  <select
    class="select-input"
    [(ngModel)]="selectedQuantity"
    (ngModelChange)="onChange($event)"
  >
    <option *ngFor="let option of quantityOptions" [ngValue]="option">
      {{ option }}
    </option>
  </select>
  <button class="btn btn-add" (click)="add(selectedQuantity, product)">
    ADD
  </button>
</div>
